.basket-page {
  display: flex;
  flex-direction: column;
}

.basket__container {
  display: none;
  width: 100%;
  justify-content: space-between;
  padding: 50px 100px;
}

.basket__pag {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 50px 100px;
}

.basket__product-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.basket__product-header {
  display: flex;
  width: 600px;
  height: 100%;
  max-height: 50px;
  align-items: center;
  justify-content: space-between;
}

.basket__pagination {
  display: flex;
  align-items: center;
}

.basket__info-wrapper {
  display: flex;
  height: 100%;
  max-height: 300px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
}

.basket__product-body {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
}

.basket__product-img {
  display: flex;
  align-items: center;
}

.basket__product-img img {
  width: 100%;
  max-width: 100px;
}

.basket__product-info {
  display: flex;
  width: 100%;
  max-width: 700px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.basket__product-rating {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.basket__product-count {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.basket__product-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header_info-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.basket__product-header {
  margin-top: 60px;
}
