.cards__section {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}

.product {
  width: 350px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
}
